{% extends 'trainers/base.html' %}

{% block head %}
<link rel="stylesheet" href="../../../static/css/student.css">
<link rel="stylesheet" href="../../../static/css/rectangles.css">
<link rel="stylesheet" href="../../../static/css/edit_modal.css">
<link rel="stylesheet" href="../../../static/css/form.css">
<link rel="stylesheet" href="../../../static/css/btns.css">

{% endblock %}
{% block content %}

<div id="student_page">
    <div class="side">
        <div class="photo"></div>
        <div id="student_data">
            <h3>{{client.first_name}} {{client.last_name}}</h3>
            <h2>Баланс: {{client.balance}}</h2>
            <h4>Студент.Группа</h4>


            {% for adres in adr %}
            <p> {{adres.city}}, {{adres.street}}, {{adres.house}}, {{adres.building}}, {{adres.flat}} </p>
            {% endfor %}
            <button class="change_btn" style="margin-top: 30px" onclick="edit_data_modal()">Редактировать</button>
        </div>
    </div>

    <div class="modal" id="modal_edit_data">
        <div class="modal-content">
            <div class="close" id="close_edit_data">&times;</div>
            <div class="form">
                <form class="decor" action="#" method="post">
                    {% csrf_token %}
                    <div class="form-left-decoration"></div>
                    <div class="form-right-decoration"></div>
                    <div class="circle"></div>
                    <div class="form-inner">
                        <h3>Редактирование ученика</h3>
                        <input type="text" id="name" value="{{client.first_name}}" placeholder="Имя">
                        <input type="text" id="last_name" value="{{client.last_name}}" placeholder="Фамилия">
                        <input type="text" id="balance" value="{{client.balance}}" placeholder="Баланс">
                        <input type="text" id="email" value="{{userinfo.email}}" placeholder="Почта">
                        <input type="submit" value="Добавить">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="main">

        <div class="container">
            <div>
                <div class="rectangle rectangle-left rectangle-back">
                    <a href="#"><h2 style="font-size: 1.2em; padding-top: 1em">Пропущено занятий:</h2>
                        <h1>14</h1></a>
                </div>
                <div class="rectangle rectangle-right rectangle-front">
                    <a href="#"><h2 style="font-size: 1.2em; padding-top: 2em">Посещено занятий:</h2>
                        <h1>15</h1></a>
                </div>
            </div>
            <div class="container-text">
                <h3>Занятия</h3>
                <h4>Как выводить инфу об абонементе?</h4>
            </div>
        </div>


        <div class="container">
            <div class="container-text">
                <h3>Достижения</h3>
                <h4>Тут очень увлекательный текст про достижения</h4>
            </div>
            <div>
                <div class="rectangle rectangle-right rectangle-back">
                    <a href="#"><h2 style="font-size: 1.2em; padding-top: 2em">Награды</h2>
                        <h1>28</h1></a></div>
                <div class="rectangle rectangle-left rectangle-front">
                    <a href="#"><h2 style="font-size: 1.2em; padding-top: 3em">Участие</h2>
                        <h1>39</h1></a></div>
            </div>
        </div>

        <div id="skills">
            <h3>Навыки</h3>
            <p>Выносливость</p>
            <div class="container_skills">
                <div class="skills html">90%</div>
            </div>

            <p>Координация</p>
            <div class="container_skills">
                <div class="skills css">80%</div>
            </div>

            <p>Гибкость</p>
            <div class="container_skills">
                <div class="skills js">65%</div>
            </div>

            <p>Реакция</p>
            <div class="container_skills">
                <div class="skills php">60%</div>
            </div>
        </div>


        <div class="ecip">
            <h3>Экипировка</h3>
            <h4>Нажмите на интересующую вас статистику, чтобы узнать больше</h4>
        </div>
    </div>
</div>
{% endblock %}



{% block js%}
<script>
 let modal = document.querySelector('#modal_edit_data');

    function edit_data_modal() {
        modal.style.display = 'block';
    }

    let btn = document.querySelector('#close_edit_data');
    btn.onclick = function () {
        modal.style.display = 'none';
    }
</script>
{% endblock %}
