{% extends 'trainers/base.html' %}
{% block content %}


<!--<div id="cards">-->
<!--    {%if clients%}-->

<!--    <h2 id="my_students">Мои ученики</h2>-->
<!--    <details>-->
<!--        <summary>Группа 1</summary>-->
<!--        <div class="cards_elements">-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Студент.Описание-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p><a href="student.html">Студент.Ссылка</a></p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        красив-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        умен-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        правдив-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        <a href="student.html"></a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Третья карточка-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Какой-то другой текст-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        красив-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        умен-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        правдив-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Третья карточка-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Какой-то другой текст-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </details>-->
<!--    <details>-->
<!--        <summary>Группа 2</summary>-->
<!--        <div class="cards_elements">-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        красив-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        умен-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        правдив-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Третья карточка-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Какой-то другой текст-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        красив-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        умен-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        правдив-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Третья карточка-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Какой-то другой текст-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </details>-->
<!--    <details>-->
<!--        <summary>Группа 3</summary>-->
<!--        <div class="cards_elements">-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        красив-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        умен-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        правдив-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Третья карточка-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Какой-то другой текст-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        красив-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        умен-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        правдив-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Третья карточка-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Какой-то другой текст-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </details>-->
<!--    <details>-->
<!--        <summary>Группа 4</summary>-->
<!--        <div class="cards_elements">-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        красив-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        умен-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        правдив-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Третья карточка-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Какой-то другой текст-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>Студент.ДеньРождения</p>-->
<!--                    <h1>-->
<!--                        Студент.Имя-->
<!--                    </h1>-->
<!--                    <p>Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        красив-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        умен-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        правдив-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10.12.1997</p>-->
<!--                    <h1>-->
<!--                        Мелихов Виктор Григорьевич-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Третья карточка-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Какой-то другой текст-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="front">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Третья карточка-->
<!--                    </h1>-->
<!--                    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро-->
<!--                        заполнить-->
<!--                        макеты-->
<!--                        или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла,-->
<!--                        лишь-->
<!--                        показать-->
<!--                        наличие самого текста или продемонстрировать типографику в деле.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="back">-->
<!--                    <p>10-12</p>-->
<!--                    <h1>-->
<!--                        Какой-то другой текст-->
<!--                    </h1>-->
<!--                    <p>-->
<!--                        Мой дядя самых честных правил,-->
<!--                        Когда не в шутку занемог,-->
<!--                        Он уважать себя заставил-->
<!--                        И лучше выдумать не мог.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </details>-->
<!--    {% else %}-->
<!--    <p>No clients sore</p>-->
<!--    {%endif%}-->

<!--    <p><a href="client/add"> Add client </a></p>-->
<!--</div>-->

<!--&lt;!&ndash;  ЕСЛИ АДМИНИСТРАТОР, ТО &ndash;&gt;-->
<!--<div id="form">-->
<!--    <form id="sch" class="decor">-->
<!--        <div class="form-left-decoration"></div>-->
<!--        <div class="form-right-decoration"></div>-->
<!--        <div class="circle"></div>-->
<!--        <div class="form-inner">-->
<!--            <h3>Добавление клиента</h3>-->
<!--            <input type="text" id="name" placeholder="Имя">-->
<!--            <input type="text" id="last_name" placeholder="Фамилия">-->
<!--            <input type="text" id="dady_name" placeholder="Отчество">-->
<!--            <input type="text" id="email" placeholder="Почта">-->
<!--            <input type="date" id="birthday" placeholder="Дата рождения">-->
<!--            <textarea id="note" placeholder="Примечание..." rows="3"></textarea>-->
<!--            <input type="submit" id="sub" value="Добавить" onclick="addClient()">-->
<!--        </div>-->
<!--    </form>-->
<!--    <ul id="clients">-->
<!--        <figcaption>Клиенты</figcaption>-->
<!--    </ul>-->
<!--    <script src="../js/client_form.js"></script>-->
<!--</div>-->
<!--&lt;!&ndash;  КОНЕЦ АДМИН. ЧАСТИ &ndash;&gt;-->





{%if clients%}
<ul>
    {% for client in clients %}
    <li><a href="client/{{client.id}}"> {{client.first_name}} {{client.last_name}} </a></li>
    {% endfor %}
</ul>
{% else %}
<p>No clients sore</p>
{%endif%}

<p><a href="client/add"> Add client </a></p>

{% endblock %}