{% extends 'trainers/base.html' %}
{% block head %}
<link rel="stylesheet" href="../../../static/css/index.css">
<link rel="stylesheet" href="../../../static/css/slider.css">
<link rel="stylesheet" href="../../../static/css/rectangles.css">
<link rel="stylesheet" href="../../../static/css/form.css">
<link rel="stylesheet" href="../../../static/css/edit_modal.css">
{% endblock %}

{% block content %}
<div class="container" style="background-color:  #98C1D9">
    <div>
        <div class="photo"></div>
    </div>
    <div class="container-text">
        <h3>{{userinfo.last_name}} {{userinfo.first_name}} {{trainer.otchestv}}</h3>
        <h5>{{userinfo.email}}</h5>
        {% if is_trainer %}
        <h4>Тренер</h4>
        {% endif %}
        <h4>{{trainer.birthdate}}</h4>
        <button class="change_btn" style="margin-top: 30px" onclick="edit_data()">Редактировать</button>
    </div>
</div>

<div class="modal">
    <div class="modal-content">
        <div class="close">&times;</div>
        <div class="form">
            <form class="decor" action="#" method="post">
                {% csrf_token %}
                <div class="form-left-decoration"></div>
                <div class="form-right-decoration"></div>
                <div class="circle"></div>
                <div class="form-inner">
                    <h3>Редактирование пользователя</h3>
                    <input type="text" id="name" value="{{userinfo.first_name}}" placeholder="Имя">
                    <input type="text" id="last_name" value="{{userinfo.last_name}}" placeholder="Фамилия">
                    <input type="text" id="otchestcv" value="{{trainer.otchestv}}" placeholder="Отчество">
                    <input type="text" id="email" value="{{userinfo.email}}" placeholder="Почта">
                    <input type="submit" value="Добавить">
                </div>
            </form>
        </div>
    </div>
</div>


<div id="todo">
    <h3>Трекер задач</h3>
    <div class="inputField">
        <input type="text" id="myInput" placeholder="Add your new todo">
        <button class="addBtn">Добавить</button>
    </div>
    <ul id="myUL" class="todoList">
    </ul>
    <div class="footer">
        <span>You have <span class="pendingTasks"></span> pending tasks</span>
        <button>Clear All</button>
    </div>
</div>


<div class="container">
    <div>
        <div class="rectangle rectangle-left rectangle-back">
            <a href="#"><h2 style="font-size: 1.2em">Реестр проведенных уроков</h2></a>
        </div>
        <div class="rectangle rectangle-right rectangle-front">
            <a href="#"><h2 style="font-size: 1.2em; padding-top: 3em">Статистика доходов</h2></a>
        </div>
    </div>
    <div class="container-text">
        <h3>Отчеты</h3>
        <h4 class="link">Перейдите по ссылке и откроется интересующий вас документ</h4>
        <ul>
            <li><a>Реестр проведенных уроков</a></li>
            <li><a>Статистика доходов</a></li>
        </ul>
    </div>
</div>


<div id="search_div">
    <h3>Поиск</h3>
    <div class="sub">
        <input type="text" placeholder="Что желаете найти?">
        <button>Найти</button>
    </div>

</div>


<div class="container">
    <div class="container-text">
        <h3>Что-то еще</h3>
        <h4 class="link">Тут очень увлекательный текст про что-то еще</h4>
    </div>
    <div>
        <div class="rectangle rectangle-right rectangle-back">
            <a href="#"><h2 style="padding-top: 1em">Вот это цифры:</h2>
                <h1>28</h1></a></div>
        <div class="rectangle rectangle-left rectangle-front">
            <a href="#"><h2 style="padding-top: 2em">Ого</h2>
                <h1>39</h1></a></div>
    </div>
</div>

<div class="slider">
    <h3 class="name">Листающиеся новости</h3>
    <div class="slider-field">
        <div class="slider-text">
            <h4>Заголовок1</h4>
            <p>Тут какой-то текст</p>
        </div>
    </div>
    <div class="slider-field">
        <div class="slider-text">
            <h4>Заголовок2</h4>
            <p>Другой текст</p>
        </div>
    </div>
    <div class="slider-field">
        <div class="slider-text">
            <h4>Заголовок3</h4>
            <p>И еще один текст</p>
        </div>
    </div>
    <button class="prevSlider">Prev</button>
    <button class="nextSlider">Next</button>
</div>


{% endblock %}

{% block js%}
<script src="../../../static/js/slider.js"></script>
<script src="../../../static/js/todo.js"></script>
<script src="../../../static/js/edit_data.js"></script>
{% endblock %}
