{% extends 'trainers/base.html' %}

{% block head %}
<link rel="stylesheet" href="../../../static/css/students.css">
{% endblock %}

{% block content %}

<div id="cards">
    <h2 id="my_students">ВСЕ ученики</h2>
    {%if teams%}
    {% for team in teams %}
    <details>
        <summary>{{team.name}}</summary>
        <div class="cards_elements">
            {% for client in team.clients.all %}
            <div class="card">
                <div class="front">
                    <p>{{client.birth_date}}</p>
                    <h1>
                        {{client.first_name}} {{client.last_name}}
                    </h1>
                    <p>Студент.Описание
                    </p>
                </div>
                <div class="back">
                    <p>{{client.birth_date}}</p>
                    <h1>
                        {{client.first_name}} {{client.last_name}}
                    </h1>
                    <p><a href="client/{{client.id}}">Студент.Ссылка</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </details>

    {% endfor %}

    {% else %}
    <p>Нет групп</p>
    {%endif%}


    <div class="add_group" ><a href="{% url 'team_add' %}"> Создать группу </a></div>
</div>



<!--    <ul>-->
<!--{% for team in teams %}-->
<!--    <li>{{ team.name }}</li>-->
<!--    <ul>-->
<!--    {% for client in team.clients.all %}-->
<!--        <li>{{ client.first_name }} {{ client.last_name }}</li>-->
<!--    {% empty %}-->
<!--        <li>Нет учеников</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--{% empty %}-->
<!--    <li>Нет групп</li>-->
<!--{% endfor %}-->
<!--</ul>-->

{% endblock %}


<!--БЫЛО ДО-->


<!--{%if teams%}-->
<!--    <ul>-->
<!--        {% for team in teams %}-->
<!--        <li> <a href="team/{{team.id}}"> {{team.name}}  </a></li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>Нет групп</p>-->
<!--{%endif%}-->