<h1> Информация о тренере  </h1>

<ul>

    <li>
        <p> Имя тренера: {{trainer.user.first_name}}  </p>
    </li>

    <li>
        <p> Фамилия тренера: {{trainer.user.last_name}}  </p>
    </li>

    <li>
        <p> Отчество тренера: {{trainer.otchestv}}  </p>
    </li>

    <li>
        <p> Дата рождения: {{trainer.birth_date}}  </p>
    </li>

</ul>

    {% if groups %}
<!--TEAMS?-->
    <p>Группы </p>

    <ul>
    {% for team in teams %}
        <li> <a href="{% url 'team' %}/{{team.id}}"> {{team.name}} </a></li>
    {% endfor %}
    </ul>

    {% else %}
        <p>У тренера ещё нет групп.</p>
    {% endif %}
