#main_student_content {
    padding-top: 5em;
    padding-bottom: 1em;
    min-height: 45em;
    background-color: rgb(152, 193, 217, 0.7);
}

#trainers_content {
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 45em;
    background-color: rgb(152, 193, 217, 0.7);
}

.change_btn.active {
    border: 1px #3D5A80 solid;
    background-color: #dddddd;
     color: #293241;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#all_clients {
    display: none;
}

#all_groups {
    display: none;
}

#all_sports {
    display: none;
}

.cards {
    overflow: hidden;
    height: 100%;
    padding-right: 2em;
    min-height: 650px;
}

.cards_elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.card {
    flex-basis: calc(33.33% - 10px);
    max-width: 200px;
    margin: 45px 70px;
    width: calc((100% - 1500px) / 2);
    height: 250px;
    cursor: pointer;
    transform: translate(-15%, 16%);
    border-radius: 30px;
    z-index: 5;
    font-size: 0.8em;
}


.card:hover .front {
    transform: perspective(1200px) rotateY(-180deg);
}

.card:hover .back {
    transform: perspective(1200px) rotateY(0);
}

.front,
.back {
    padding: 20px 60px 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.9s ease;
    border-radius: 10px;
    background-color: #3D5A80;
}

.front {
    transform: perspective(1200px) rotateY(0);
}

.back {
    transform: perspective(1200px) rotateY(180deg);
}

.card p {
    color: #dddddd;
    margin-bottom: 20px;
}

.card h1 {
    color: #F1FFFF;
    margin-bottom: 50px;
}

summary {
    color: #3c3c3c;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
    list-style: none;
!important;
}

.add_group {
    margin-top: 10em;
    color: #293241;
}


.teams_btn {
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2em;
}


@media (max-width: 1150px) {
    .card {
        font-size: 0.6em;
    }
}

